body {
    background-size: cover;
    /*background: url(../images/home-bg.jpg) no-repeat center center;*/
    background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/home-bg.jpg) fixed;
}

.headerTitle {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h5, input {
    color: white;
}

h4 {
    color: goldenrod;
    font-weight: 100;
}

.attribut {
    font-weight: 100;
    color: #fff;
}

#selected_city_block {
    display: none;
}

#input_label {
    font-size: 20px;
}
