{% extends 'base.html.twig' %}

{% block body %}
    {# Informations météo de Toulouse #}
    <div class="container">
        <h1 class="center-align headerTitle">Toulouse</h1>
        <div class="row">
            <div class="col s12 l4 center-align">
                <h3><span class="attribut">Température</span></h3>
                <h4>{{ toulouseWeather.main.temp }}°C</h4>
            </div>
            <div class="col s12 l4 center-align">
                <h3><span class="attribut">Conditions</span></h3>
                <h4>{{ toulouseWeather.weather[0].description }}</h4>
            </div>
            <div class="col s12 l4 center-align">
                <h3><span class="attribut">Vitesse de vent</span></h3>
                <h4>{{ toulouseWeather.wind.speed * 3.6 }} km/h</h4>
            </div>
        </div>
        <br><br>

        <h1 id="chosen_city_heading" class="center-align headerTitle">Aucune ville sélectionnée...</h1>

        {# Formulaire de saisie de la ville par l'utilisateur #}
        <div class="row">
            <form id="find_city_weather_form">
                <div class="input-field col s8 l11">
                    <input id="city" type="text" placeholder="Veuiller renseigner une ville" required>
                    <label for="city" id="input_label">Ville</label>
                </div>
                <div class="col s2 l1">
                    <button class="waves-effect waves-light btn btn-large" id="find_city_weather" type="submit">
                        Afficher
                    </button>
                </div>
            </form>
        </div>
    </div>

    {# Informations météo de la ville trouvée #}
    <div class="row" id="selected_city_block">
        <div class="col s12 l4 center-align">
            <h3><span class="attribut">Température</span></h3>
            <h4><span id="search_temperature"></span>°C</h4>
        </div>
        <div class="col s12 l4 center-align">
            <h3><span class="attribut">Conditions</span></h3>
            <h4><span id="search_conditions"></span></h4>
        </div>
        <div class="col s12 l4 center-align">
            <h3><span class="attribut">Vitesse de vent</span></h3>
            <h4><span id="search_wind_speed"></span> km/h</h4>
        </div>
    </div>
{% endblock %}
